# Compiled Object files
*.slo
*.lo
*.o
*.obj

# CMake user files
*.user

# Doxygen
docs/html

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# WebGPU backends
externals/dawn
