[submodule "externals/glfw"]
	path = externals/glfw
	url = https://github.com/glfw/glfw.git
[submodule "externals/glew"]
	path = externals/glew
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "externals/Headerize"]
	path = externals/Headerize
	url = https://github.com/Chainsawkitten/Headerize.git
[submodule "externals/simpleini"]
	path = externals/simpleini
	url = https://github.com/brofield/simpleini.git
