version: '{build}'

skip_tags: true

configuration: Release

platform: x64

install:
- cmd: git submodule update --init

before_build:
- cmd: cmake -G "Visual Studio 14 2015 Win64"

build:
  project: HymnToBeauty.sln
  parallel: true
  verbosity: minimal

after_build:
  - ps: |
        $GITDATE = $(git show -s --date=short --format='%ad') -replace "-",""
        $GITREV = $(git show -s --format='%h')
        $BUILD_NAME = "HymnToBeauty-Windows-$GITDATE-$GITREV.zip" -replace " ",""
        
        $env:$BUILD_NAME = $BUILD_NAME
        
        7z a -tzip $BUILD_NAME bin\Release\Game.exe bin\Release\glew32.dll bin\Release\HymnToBeauty.exe bin\Release\OpenAL32.dll

artifacts:
  - path: $(BUILD_NAME)
    name: msvcbuild
    type: zip